.clip-path-accueil{
    position: absolute;
    height: 100%;
clip-path: polygon(0 58%, 100% 37%, 100% 100%, 0% 100%);    background: black;
    width: 100%;
    z-index: -1;
}
#accueil{
    background: white;
    min-height: 100vh;
    position: relative;
    z-index: -2;
}
.car-accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100Vw;
}
.title-accueil{
    color: black;
    font-size: 40px;
    font-weight: 900;
}

.icon-accueil {
    color: black;
    font-size: 90px !important;
    animation: brake-rotation 1s cubic-bezier(.1,.7,.1,1) !important;
}

@keyframes brake-rotation {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(720deg); 
        animation-timing-function: ease-out;
    }
    100% {
        transform: rotate(1080deg);
        animation-timing-function: ease-in;
    }
}


.rotate-entry {
    animation: rotateEntry 2s ease-in-out;
}
.bar-accueil{
    color: white;
    transform: rotate(-90deg);
    font-size: 40px !important;
    padding: 0;
    margin: 0;
}
.bar-group{
    top :150px;
    left: 43%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.image-accueil{
    position: relative;
}
.button-accueil{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-between;

}
.login-accueil{
    font-weight: 600;
}
.login-accueil , .sign-in-accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 60%;
    background: white;
    color:black;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
}
.image-accueil img{
    height: 200px;
}
#button-ion-item-accueil{
    --background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 60%;
    background: white;
    color:black;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
}
/* .button-play-accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    color:white;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase; 
    text-align: center;
} */

.button-play-accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase; 
    text-align: center;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.button-play-accueil.pulsate {
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}




