ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
  
  ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  ion-item h2 {
    font-weight: 600;
    margin: 0;
    
    /**
     * With larger font scales
     * the date/time should wrap to the next
     * line. However, there should be
     * space between the name and the date/time
     * if they can appear on the same line.
     */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  ion-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
  }
  
  ion-item .date {
    align-items: center;
    display: flex;
  }
  
  ion-item ion-icon {
    color: #c9c9ca;
  }
  
  ion-item ion-note {
    font-size: 0.9375rem;
    margin-right: 8px;
    font-weight: normal;
  }
  
  ion-item ion-note.md {
    margin-right: 14px;
  }
  
  .dot {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    align-self: start;
    margin: 16px 10px 16px 16px;
  }
  
  .dot-unread {
    background: var(--ion-color-primary);
  }
  .welcome-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10vw;
    text-align: center;
    flex-direction: column;
    background-color: rgb( 69 , 189 , 197 );
  }
  .start-button{
    color: #333;
    background-color: #fff;
    margin-top: 6vh;
    width: 100%;
    height: 14vw;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .start-button a{
    color: #333;
    text-decoration: none;
  }
  .welcome{
    color: #fff;
    font-size: 37px;
    text-align: center;
    word-break: break-word;
  }
  .bold{
    font-weight: bold;

  }
  
  ion-footer ion-title {
    font-size: 11px;
    font-weight: normal;
  }

  /* Without setting height the slides will take up the height of the slide's content */
  ion-slides {
    height: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    --color:black;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  .img-caroussel{
    object-fit: cover;
  }

  .error{
    border-width: 0.4px !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;
  }
  .warning{
    border-width: 0.4px !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
  }
  input:focus-visible{
    outline: none;
  }
  .error:focus-visible{
    outline: none;
    border-width: 0.4px !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;
  }
  .warning:focus-visible{
    outline: none;
    border-width: 0.4px !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
  }
  .form-inscription{
    transform: translateY(-7vh);
    background: #ffff;
    color:#333;
    width: 100%;
    padding: 40px;
    border-top-left-radius: 60px;
    box-shadow:  5px 7px 60px #333;
    position:absolute;
    z-index:20 ;
    min-height: 78vh;
    padding-top: 60px;
    padding-bottom: 75px;
    margin-top: 26vh;
  }

  .car-name{
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 40px;
  }
  .car-annonce{
    font-size: 15px;
  }
  .bold{
    font-weight: 800;
  }
  .semi-bold{
    font-weight: 800;
  }
  .annonce{
    display: flex;
    justify-content: space-between;
    color: rgb(143, 143, 143);
  }
  .car-caracteristique{
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modif-button{
    background: rgb( 69 , 189 , 197 );
    height: 50px;
    width:80px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-header , .details-toolbar{
    --background:transparent;
  }

.button-back{
    background: black;
    width: 40px;
    top:5px;
    left:5px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 40px;
    box-sizing: border-box;
}
.inscription-title{
  text-shadow: #333 !important;
}
.title-login{
  height:30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-login h1{
  color:#fff;
  transform: translateY(-2vh);
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.form-title{
  font-size: 35px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}
.form-group{
  display:  flex;
  
  flex-direction: column;
}
.form-group label{
  font-weight: 600;
  color:  rgb(132, 132, 132);
}
.form-group input ,.form-group select  {
  margin-top: 5px;
  border: 3px solid rgb(211 , 211, 211);
  background-color: rgb(241 , 241 , 241 );
  height: 45px;
  color:  rgb(132, 132, 132);
  border-radius: 10px;
  margin-bottom: 20px;
}
.form-login .form-submit{
  background-color: black;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 150px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  margin-left: auto;
}
.inscription{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.inscription .text-inscription{
  --background:transparent;
  --color:black;
  font-weight: 600;
  margin-left: 5px;
}
