:root{
    --black:#060606;
    --white:#fefefe;
    --grey:#f1f1f1
}
.tabBar{
    --background: #fefefe;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 10px;
    box-shadow: 1px 2px 17px #8c8c8c;
    --border: 0;
}
.header{
    --background:var(--black);
}

.content{
    --background:var(--white);
}
.title{
    --background:var(--black);
    height: 100px;
}
.title .title-toolbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ajout-button{
    background: #3a3a3a;
    color: white;
    position: unset!important;
    border-radius: 50px;
    transform: translateY(-25px);
    max-width: 80px !important;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 100;
    border: 5px solid #808080;
    margin-top: -15px; 
    box-shadow: 1px 2px 17px #8c8c8c;
    --border: 0;
    min-height: 80px;
}
ion-tab-bar {
    overflow: visible !important;
    contain: none;
}

ion-tab-bar{
    --color-selected: #000 !important;
    --background-selected: white
}
