.photo-list{
    max-height: 500px;
}
.close-image{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1vh;
    margin-right: 1vh;
    color: #dc3545;
    height: 3vh;
    width: 3vh;
}